@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-black: #0e0e0e;

  --primary-color: #ffa400;
  --secondary-color: #ececec;

  --primary-text-color-white: #ffffff;
  --primary-text-color-black: #1a1a1a;
  --secondary-text-color: #7b7b7b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

